{% extends "base.html.j2" %}
{% set trust = "Eastbrook University Hospitals NHS Foundation Trust" %}
{% set dept = "Respiratory Medicine Outpatients" %}
{% set label = "Clinic letter" %}
{% set body_font = "Serif" %}{% set ruled = false %}
