{% extends "base.html.j2" %}
{% set trust = "Eastbrook University Hospitals NHS Foundation Trust" %}
{% set dept = "Department of Microbiology and Virology" %}
{% set label = "Laboratory report" %}
{% set body_font = "Sans" %}{% set ruled = false %}
{% block extra_css %}.fields{border-left:3px solid #999;padding-left:12px;}{% endblock %}
